*{
	margin:0;
	padding: 0;
	font-size: 15px;
}
body{
    overflow: hidden;
	background-color: #450DD4;
}
html, body, main, body>div {
    opacity: 1;
}
main>div{
	animation-name: paper;
    -moz-animation-name: paper;
    animation-duration: 5s;
    -moz-animation-duration: 5s;
	background-color: #C5BBDE;,
	
/*	transform: scale(3,3);*/
}
main>div>div:nth-of-type(1){
    display: none;
}
main>div::before{
	height: 90px;
    width: 90px;
    position: absolute;
    content: "";
    background: url(../imgs/cvIconPrint.png);
    background-size: cover;
    display: inline-block;
}
img,footer{
	display: none;
}
#change{
        background-color: #C5BBDE;
        color: #450dd4;
        text-shadow: 0 0 10px rgba(243, 14, 6,0.6);
        width: 123px;
    }
tbody:nth-of-type(1) {
    counter-reset: section;
}
tbody:nth-of-type(1)  tr:before{
    counter-increment: section;
    content: counter(section) ;
    font-size: 20px;
}
caption{
	color: #450dd4;
	font-size: 30px;
	padding-bottom: 50px; 
}
th, main>div::before, caption{
    opacity: 0;
    animation-name: tex;
    -moz-animation-name: tex;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
    -moz-animation-duration: 6s;
    animation-duration: 6s;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
th{
	color: #450dd4;
	text-shadow: 0 0 10px;
}
td,select{
	color: #450dd4;
	text-shadow: 0 0 10px rgba(243, 14, 6,0.6),
	 0 0 30px rgba(243, 14, 6,0.4), 
	 0 0 50px rgba(243, 14, 6,0.3), 
	 0 0 180px rgba(243, 14, 6,0.3);
}
.pulse1, .pulse2, .pulse3, .pulse4 {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: -1;
    opacity: 0;
    margin: auto;
    display:block;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.pulse1 {
    height: 650px;
    width: 750px;
    -moz-animation: pulsejg1 4s linear;
    animation: pulsejg1 4s linear;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .4);
}
.pulse2 {
    height: 550px;
    width: 650px;
    -moz-animation: pulsejg1 4.5s linear;
    animation: pulsejg1 4.5s linear;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .6);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .6);
}
.pulse3 {
    height: 450px;
    width: 550px;
    -moz-animation: pulsejg1 5s linear;
    animation: pulsejg1 5s linear;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
}
.pulse4 {
    height: 350px;
    width: 450px;
    -moz-animation: pulsejg1 5.5s linear;
    animation: pulsejg1 5.5s linear;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, 1);
}
@keyframes pulsejg1 {
    0% {
        transform: scale(1.6);
        opacity: 0;
    }
    50% {
        transform: scale(1.6);
        opacity: 0;
    }
    60% {
        transform: scale(1.9);
        opacity: .1;
    }
    70% {
        transform: scale(2.1);
        opacity: .25;
    }
    80% {
        transform: scale(2.25);
        opacity: .1;
    }
    100% {
        transform: scale(2.4);
        opacity: 0;
    }
}
@-moz-keyframes pulsejg1 {
	 0% {
        -moz-transform: scale(1.6);
        opacity: 0;
    }
    50% {
        -moz-transform: scale(1.6);
        opacity: 0;
    }
    60% {
        -moz-transform: scale(1.9);
        opacity: .2;
    }
    70% {
        -moz-transform: scale(2.1);
        opacity: .35;
    }
    80% {
        -moz-transform: scale(2.25);
        opacity: .2;
    }
    100% {
        -moz-transform: scale(2.4);
        opacity: 0;
    }
}
@media screen and (min-width:5000px) {
    * {
        font-size: 5px;
    }
}
@keyframes paper {
	0%{
		opacity: 0;
		transform: rotate(180deg) scale(6);
	}
	100%{
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
}
@-moz-keyframes paper {
	0%{
		opacity: 0;
		transform: rotate(180deg) scale(6);
	}
	100%{
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
}
@keyframes tex {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-moz-keyframes tex {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}